.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

<<<<<<< HEAD
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

=======
>>>>>>> 9d495daa1a0bedb7580a62196378715ed1a6d186
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
<<<<<<< HEAD
=======
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
>>>>>>> 9d495daa1a0bedb7580a62196378715ed1a6d186
}